:root {
	--bs-primary: #80296D !important;
	--bs-hover-bg: #80296d98 !important;
}

.btn-outline-primary {
	color: var(--bs-primary) !important;
	border-color: var(--bs-primary) !important;
}

.btn-outline-primary:hover {
	background-color: var(--bs-primary) !important;
	color: #fff !important;
}

.btn-primary {
	background-color: #98689D;
	color: #F1EAF0;
  	text-transform: capitalize;
	border: 1px solid #80296D;
  }

.btn-primary:hover {
	background-color: var(--bs-hover-bg) !important;
}

h1,
h2,
h4 {
	color: var(--bs-primary) !important;
	margin-bottom: 0px !important;
}