.footer {
    padding: 1px 0;
    width: 100%;
    background-color: rgba(174, 86, 196, 1);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2px;
    text-align: center;
}

.footer-links {
    display: flex;
    gap: 20px; /* Adds space between links */
    justify-content: center;
    flex-wrap: wrap; /* Ensure they wrap nicely on smaller screens */
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer h8 {
    font-style: italic;
    color: #e0e0e0;
}
